# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.env
.env/
venv/
.envrc
*.egg-info/

# Jupyter
.ipynb_checkpoints

# MLflow
mlruns/
*.mlmodel

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db